/* Global Styles */
:root {
  --primary-color: #0079bf;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
u {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  background-image: url("https://www.transparenttextures.com/patterns/pixel-weave.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: var(--light-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Utilities */
.container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fff;
  margin: 0.5rem;
  color: var(--dark-color);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.card.active {
  background-color: #fff;
}
.card.inactive {
  background-color: #f4f4f4;
}

.card-edit-dependencies {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fff;
  margin: 0.5rem;
  color: var(--dark-color);
  position: relative;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.card-container {
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.card-edit-dependencies.active {
  background-color: #28a745 !important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card.dependency {
  border-right: 1rem solid #fff;
}

.card.dependent {
  border-left: 1rem solid #fff;
}
.dependents {
  display: flex;
  flex-direction: column;
}
.dependents > span {
  width: 100%;
  height: 100%;
}

.card-column {
  margin: 0.5rem;
  padding: 1rem;
  min-width: 300px;
  max-width: 300px;
}

.duration {
  position: absolute;
  right: 1.2rem;
  bottom: 0;
}

/* Navbar */
.navbar {
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
}

.navbar-container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar .button {
  cursor: pointer;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.edit-task-modal {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.edit-task-modal-content {
  background-color: var(--light-color);
  color: #333;

  width: 560px;
  padding: 2rem !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;
}

.input-span {
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
  padding-bottom: 11px;
}

.input-title {
  background-color: #fff;
  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
}

.input-description {
  background-color: #fff;
  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  height: 20rem;
  padding: 0.5rem;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
}

.task-wrapper {
  display: flex;
  flex-direction: row;
}

.task-wrapper .half {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 45%;
}

.dependencies-ul {
  padding: 0.5rem 0.5rem 1rem 3rem;
}

.dependencies-ul li {
  width: 13rem;
  float: left;
}

.edit-dependencies-button {
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button-wrapper div {
  width: 100%;
}

.login-modal {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.login-modal-content {
  background-color: var(--light-color);

  width: 560px;
  padding: 55px 85px 55px 85px !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.login-form-title {
  font-family: Raleway-Medium;
  font-size: 30px;
  color: var(--dark-color);
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;

  width: 100%;
  display: block;
  padding-bottom: 32px;
}

.login-span {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
  padding-bottom: 11px;
}

.wrap-username {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 12px;
}

.input-login {
  font-family: Raleway-Medium;
  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 2.5rem;
  padding: 0 1rem 0 1rem;
}

.focus-input {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid var(--primary-color);
  border-radius: 3px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input-login:focus + .focus-input {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.container-login-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.loginbtn {
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 55px;
  background-color: #333333;
  border-radius: 27px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.loginbtn:hover {
  background-color: var(--primary-color);
}

.forgot-password {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #555555;
  line-height: 1.4;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.forgot-password:hover {
  color: var(--primary-color);
}

.input-remember-me {
  display: none;
}

.wrap-login-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  padding-bottom: 48px;
}

.remember-me {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.remember-me:before {
  content: "X";
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid var(--light-color);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-remember-me:checked + .remember-me:before {
  color: var(--primary-color);
}

/* Board */
.board {
  background-color: #f4f4f4;
  min-height: 20rem;
  overflow-x: scroll;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}

/* Menu */
.menu {
  background-color: var(--light-color);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
}

.edit-board-menu {
  background-color: #fff;
  height: 8rem;
}

.edit-board {
  color: #333;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.edit-board .title {
  min-width: 10rem;
}

.edit-board .description {
  min-width: 10rem;
}

.boards-menu {
  color: #333;
  overflow-x: scroll;
}

.description {
  width: 100%;
  height: 4rem;
}

.board-text {
  font-family: Raleway-Medium;
  color: #333;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.board-text .text-description {
  font-family: Raleway-Medium;
  color: #333333;
  line-height: 1.2;
  font-size: 1rem;
  height: 4rem;
}

.boards-element {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fff;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  width: 160px;
  cursor: pointer;
}
.boards-element:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.boards-element.selected {
  border: 2px solid #555;
}

.boards-element > p {
  padding: 0.2rem;
}

.add-btn {
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.add-btn > h1 {
  font-size: 5rem;
  font-weight: 200;
}

.btn-edit {
  display: inline-block;
  background: var(--success-color);
  color: #333;
  padding: 0.1rem 0.2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-board {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
}

.btn > h4 {
  display: inline-block;
  vertical-align: middle;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.background-color1 {
  background-color: var(--primary-color) !important;
}
.background-color2 {
  background-color: #800000 !important;
}
.background-color3 {
  background-color: #808000 !important;
}
.background-color4 {
  background-color: #469990 !important;
}
.background-color5 {
  background-color: #ffd8b1 !important;
}
.background-color6 {
  background-color: #9a6324 !important;
}
.background-color7 {
  background-color: #000075 !important;
}
.background-color8 {
  background-color: #e6194b !important;
}
.background-color9 {
  background-color: #ffe119 !important;
}
.background-color10 {
  background-color: #3cb44b !important;
}
.background-color11 {
  background-color: #911eb4 !important;
}
.background-color12 {
  background-color: #a9a9a9 !important;
}
.background-color13 {
  background-color: #f58231 !important;
}
.background-color14 {
  background-color: #bfef45 !important;
}
.background-color15 {
  background-color: #42d4f4 !important;
}
.background-color16 {
  background-color: #f032e6 !important;
}
.background-color17 {
  background-color: #fffac8 !important;
}
.background-color18 {
  background-color: #aaffc3 !important;
}
.background-color19 {
  background-color: #fabebe !important;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s 0.2s ease-in-out;
  transition: all 0.2s 0.2s ease-in-out;
}

.modal-content {
  padding: 10px;
  max-width: 600px;
  min-width: 360px;
  max-height: 85%;
  overflow: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 2;
  border-radius: 3px;
  background: #fff;
  color: var(--dark-color);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal-content p {
  padding-top: 10px;
  text-align: justify;
}

/* ////////////////////////////////////////////////////////////////////
LOGIN 
//////////////////////////////////////////////////////////////////// */
